.verse-line {
  font-family: monospace;
  display: flex;
  align-items: center;
  background-color: #6c115a;
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
  font-size: 1.1rem;
}

.verse-line:nth-child(even) {
  background-color: #6c115a;
}

.pattern,
.rhyme,
.syllables,
.mora,
.verse-type,
.text {
  padding: 5px 10px;
  text-align: left;
}

.rhyme {
  width: 6%;
  font-weight: bold;
  color: #555;
}

.pattern {
  width: 20%;
  color: #333;
}

.syllables {
  width: 10%;
  font-weight: 600;
  color: #444;
}

.mora {
  width: 10%;
  color: #555;
}

.verse-type {
  width: 25%;
  color: #666;
  font-style: italic;
}

.text {
  flex-grow: 1;
  color: #333;
  padding-left: 10px;
}

.verse-line-header {
  background-color: #4a4a4a;
  color: #6c115a;
  font-weight: bold;
  padding: 12px 15px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ddd;
}

@media (max-width: 768px) {
  .verse-line {
    font-size: 1rem;
    flex-wrap: wrap;
  }

  .pattern,
  .rhyme,
  .syllables,
  .mora,
  .verse-type {
    width: 100%;
    text-align: left;
    padding: 5px 0;
  }
}
